button{
    outline: 0;
    border: 0;
    background-color: #fff;
}

html {
    scroll-behavior:  smooth;
  }
*{
    margin: 0;  
    text-decoration: none;
}
body{
    background-image: url(Media/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    
}

header{
    background-color: white;
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
}
.botones{
    padding: 10px;
    margin: auto 0;
    text-align: right;
}

.botones a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 15px;
}

header h1 a{
    text-decoration: none;
    color: black;
}
.t{
    display: block;
    margin-top: calc(20%);
    width: 100%;
    height: fit-content;
}

.titulo{
    display: inline-block;
    margin-left: 100px;
    text-align: center  ;
    transition: all .3s;
}
.titulo h1{
    font-size: 80px;
    background-color: white;
    padding: 0 30px;
    
}
.titulo h2{
    background-color: black;
    color: white;
    padding: 5px 50px;
   
}
.titulo:hover{
    font-size: 50px;

}

.QueEs{
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}
.qe_box{
    width: 70%;
}
.qe_box_t{
    width: 100%;
    text-align: center;
}
.qe_box_t h1{
    padding: 10px;
    display: inline-block;
    background-color: black;
    color: white;
}
.qe_box_st{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 50px 0;
    margin-top: -10px;
}





.qn{
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.QuienesSomos{

    width: 70%;
    

}
.QuienesSomos .qst{
    text-align: center;
    
}
.QuienesSomos .qst h1{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px;
}
.QuienesSomos .qsst {
    margin-top: -10px;
    background-color: white;
    padding: 30px 20px ;
    text-align: center;
}
.qs_boton{
    margin-top: 10px;
    display: grid;
    width: 100%;
}
.qs_boton_boton{
    width: 100%;
    display: grid;
    justify-content: center;
}
.qs_boton button{
    display: inline-block;
    margin: 10px auto;
    backdrop-filter: blur(4px);
    color: white;
    height: 40px;
    transition: all .5s;
    width: 160px;
    font-size: 15px;


}
.qs_boton button a{
    color: white;
    
}
.qs_boton button:hover{
    background-color: black;
    height: 50px;
    width: 170px;
    box-shadow: 0px 0px teal;
    font-size: 17px;

}

footer{
    background-color: black;
    height: 200px;
    display: flex;
    color: white;
}
footer a{
    color: #48f;
}
.f_text{
    width: 40%;
    height: 100%;
    overflow: scroll;
    display: grid;
    text-align: center;
    overflow: hidden;
}
.f_text_container{
    display: block;
    height: fit-content;
    margin: auto 0;

}
.f_ods{
    width: 30%;
    height: 100%;
    display: grid;


}
.f_ods h3{
    display: inline-block;
    margin: auto auto;
    text-align: center   
}
.ods_img{
    margin: 0 auto;
}
.ods_img img{
    height: 90px;
}
.f_copy{
    width: 30%;

    height: 100%;
    display: grid;
}
.f_copy p{
    display: inline-block;
    margin: auto auto;
}

@media screen and (max-width: 720px) {
    .t{display: grid;}
    .titulo{
        display: inline-block;
        text-align: center  ;
        transition: all .3s;
        margin: calc(20%) auto 0;
    }
    .titulo h1{
        font-size: 50px;
        background-color: white;
        padding: 0 30px;
        
    }
    .titulo h2{
        background-color: black;
        color: white;
        padding: 5px;
       
    }

}
    .titulo:hover{
        font-size: 30px;
    
    }
  
  @media screen and (max-width: 580px){
    .f_text a{
        font-size: 10px;
        display: block;
    }
    .f_ods{
        font-size: 10px;

    }
    .f_copy{
        font-size: 10px;
    }
    .ods_img img{
        height: 42px!important;
        display: block;
        margin-top: 3px;
    }
    .titulo h1{
        font-size: 50px;
    }
  }
  @media screen and (max-width: 945px){
    .ods_img img{
        height: 70px;
    }
    
}
@media screen and (max-width: 750px){

    .ods_img img{
        height: 50px;
    }
}

@media screen and (max-width: 360px){
    .titulo h1{
        font-size: 40px;
    }
    .titulo h2{
        font-size: 22px;
    }
    .qs_boton button{
        display: inline-block;
        margin: 0 auto;
        backdrop-filter: blur(4px);
        color: white;
        height: 30px;
        transition: all .5s;
        width: 130px;
        font-size: 12px;
    
    
    }
    .qst h1{
        font-size: 20px;
    }
    .qsst p{
        font-size: 10px;
    }
    .qs_boton button:hover{
        background-color: black;
        height: 60px;
        width: 150px;
        box-shadow: 0px 0px teal;
        font-size: 15px;
    
    }

}

@media screen and (max-width: 500px){
    .qst{
        font-size: 12px;
    }
    .qsst{
        font-size: 12px;
    }

}







/**
Button css
**/


.qs_boton button {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.qs_boton button:before {
  content: "";
  background: linear-gradient(
    45deg,
    white,black,white,black,white,black,white,black
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.qs_boton button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 30px;
}