button{
    outline: 0;
    border: 0;
    background-color: #fff;
}

html {
    scroll-behavior:  smooth;
  }
*{
    margin: 0;  
    text-decoration: none;
}
body{
    background-image: url(Media/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    
}

/* Header */

header{
    background-color: white;
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
}
header .izda img{
    width: 60px; 
    display: inline-block; 
    margin: -5px 0 0 -25px;
}

.botones{
    padding: 10px;
    margin: auto 0;
    text-align: right;
}

.botones a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 15px;
}

header h1 a{
    text-decoration: none;
    color: black;
}

/* titulo desplegable */

.t{
    display: block;
    margin-top: calc(20%);
    width: 100%;
    height: fit-content;
}

.titulo{
    display: inline-block;
    margin-left: 100px;
    text-align: center  ;
    transition: all .3s;
}
.titulo h1{
    font-size: 80px;
    background-color: white;
    padding: 0 30px;
    
}
.titulo h2{
    background-color: black;
    color: white;
    padding: 5px 50px;
   
}
.titulo:hover{
    font-size: 40px;

}


/* sección que es oldnow */

.QueEs{
    width: 100%;
    margin-top: 400px;
    justify-content: center;
    display: grid;
}

.qe_box_t{
    width: 100%;
    text-align: center;
    display: block;
    z-index: 10;
}
.qe_box_t h1{
    padding: 10px;
    display: inline-block;
    background-color: black;
    color: white;
}
.qe_box_st{
    margin: 0 auto;
    width: 70%;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 50px 10px;
    margin-top: -10px;
    z-index: 9;
}

/* sección de caracteristicas de la aplicación */


.iconos{
    margin-top: 200px;
    width: 100%;
    display: block;
    text-align: center;
}
.iconos h1{
    background-color: black;
    display: inline-block;
    margin-bottom: 50px;
    color: white;
    padding: 10px;
}
.iconos_cont{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.iconos_i{
    width: 22%;
    display: inline-block;
    justify-content: center;
    background-color: white;
    margin: 0 5px;
    border-radius: 10px;
    padding: 10px;
}
.iconos_i img{
    height: 100px;
    display: inline-block;
    margin-top:5px;
}
.iconos_i h3{
    display: inline-block;
    display: block;
    margin: 10px 0;

}

/*Sección del video*/
.nuestrovideo{
    display: grid;
}
.nuestrovideo h1{
    background-color: black;
    color: white;
    display: inline-block;
    margin: 100px auto 50px;
    padding: 10px;
}
.nuestrovideo video{
    margin: 0 auto;
    width: 50%;
}


/* sección de quienes somos (integrantes del equipo) */

.qn{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content:center;
    margin-bottom: 100px;
}
.QuienesSomos{

    width: 70%;
    

}
.QuienesSomos .qst{
    text-align: center;
    
}
.QuienesSomos .qst h1{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px;
}
.QuienesSomos .qsst {
    margin-top: -10px;
    background-color: white;
    padding: 30px 20px ;
    text-align: center;
}
.qs_boton{
    margin-top: 10px;
    display: grid;
    width: 100%;
}
.qs_boton_boton{
    width: 100%;
    display: grid;
    justify-content: center;
}
.qs_boton button{
    display: inline-block;
    margin: 10px auto;
    backdrop-filter: blur(4px);
    color: white;
    height: 40px;
    transition: all .5s;
    width: 160px;
    font-size: 15px;


}
.qs_boton button a{
    color: white;
    
}


/* pie de página */

footer{
    background-color: black;
    height: 200px;
    display: flex;
    color: white;
}
footer a{
    color: #48f;
}
.f_text{
    width: 40%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    display: grid;
}
.f_text h3{
    display: inline-block;
    margin: 20px auto 0;
    text-align: center;
}

.f_text_container p{
    margin: auto 0;
    display: inline-block;
}
.f_ods{
    width: 30%;
    height: 100%;
    display: grid;


}
.f_ods h3{
    display: inline-block;
    margin: 20px auto 0;
    text-align: center   
}
.ods_img{
    margin: 0 auto;
}
.ods_img img{
    height: 90px;
}
.f_copy{
    width: 30%;

    height: 100%;
    display: grid;
}
.f_copy h3{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.f_copy p{
    display: inline-block;
}


/* código responsive */

@media screen and (max-width: 720px) {
    .t{display: grid;}
    .titulo{
        display: inline-block;
        text-align: center  ;
        transition: all .3s;
        margin: calc(20%) auto 0;
    }
    .titulo h1{
        font-size: 50px;
        background-color: white;
        padding: 0 30px;
        
    }
    .titulo h2{
        background-color: black;
        color: white;
        padding: 5px;
       
    }
    .iconos_i{
        width: 30%;
    }

    .f_copy p{
        font-size: 11px;
    }
}

  
  @media screen and (max-width: 580px){

    .f_text{
        font-size: 10px;
    }

    .f_text a{
        font-size: 10px;
        display: block;
    }
    .f_ods{
        font-size: 10px;

    }
    .f_copy{
        font-size: 10px;
    }
    .ods_img img{
        height: 42px!important;
        display: block;
        margin-top: 3px;
    }
    .titulo h1{
        font-size: 50px;
    }
    .iconos_cont{
        display: grid;
    }
    .iconos_i{
        
        width: 70%;
        margin: 15px auto;
        
    }
  }
  @media screen and (max-width: 945px){
    .ods_img img{
        height: 70px;
    }

    .nuestrovideo video{
        width: 70%;
    }
}
@media screen and (max-width: 750px){

    .ods_img img{
        height: 50px;
    }
}

@media screen and (max-width: 360px){
    .titulo h1{
        font-size: 40px;
    }
    .titulo h2{
        font-size: 22px;
    }
    .qs_boton button{
        display: inline-block;
        margin: 0 auto;
        backdrop-filter: blur(4px);
        color: white;
        height: 30px;
        transition: all .5s;
        width: 130px;
        font-size: 12px;
    
    
    }
    .qst h1{
        font-size: 20px;
    }
    .qsst p{
        font-size: 10px;
    }

}

@media screen and (max-width: 500px){
    .qst{
        font-size: 12px;
    }
    .qsst{
        font-size: 12px;
    }
    .qe_box_t h1{
        font-size: 23px;
    }
    .botones{
        font-size: 11px;
    }
    header .izda h1{
        font-size: 15px;
    }
    header .izda img{
        width: 40px;
        margin: 0px 0 0 -25px;
    }



}







/**
Button css
**/


.qs_boton button {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.qs_boton button:before {
  content: "";
  background: linear-gradient(
    45deg,
    white,black,white,black,white,black,white,black
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.qs_boton button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 30px;
}