html {
    scroll-behavior:  smooth;
  }
*{
    margin: 0;  
}
body{
    background-image: url(../Media/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    
}

header{
    background-color: white;
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
}
header .izda img{
    width: 60px; 
    display: inline-block; 
    margin: -5px 0 0 -25px;
}
header h1 a{
    text-decoration: none;
    color: black;
}
.botones{
    padding: 10px;
    margin: auto 0;
}

.botones a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 15px;
}

.equipo{
    margin-top: 150px;
    width: 100%;
}


.equipo .et{
    display: block;
    text-align: center;
    padding: 0 30px;
}
.et h1{background-color: white; display: inline-block;padding: 5px 10px;}


.targeta{
    margin: 100px auto 0;
    width: 60%;
    display: flex;
    height: fit-content;

}
.t_img{
    display: inline-block;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: 0;
    padding: 0;

}

.t_text{
    margin: 0;
    display: grid;  
    width: 70%;
    height: 400px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    background-color: #fff8;
    backdrop-filter: blur(4px);

}
.t_text h1{
    margin-top: 20px;
    padding: 0 15px;
}
.t_text h3{
    margin-top: -20px;
    padding: 0px 0px 0px;
    text-align: left;
    display: inline-block;
}
#Ivan{
    background-image: url(../Media/ivan.webp);
}
#Paula{
    background-image: url(../Media/Paula.webp);
}
#Alba{
    background-image: url(../Media/Alba.webp);
    background-position: left;
}
#Lucia{
    background-image: url(../Media/Lucia.webp);
}

footer{
    background-color: black;
    height: 200px;
    display: flex;
    color: white;
    margin-top: 100px;
}
footer a{
    color: #48f
}
.f_text{
    width: 40%;
    height: 100%;
    display: grid;
    text-align: center;
    overflow: hidden;
}
.f_text h3{
    display: inline-block;
    margin: 20px auto 0;
    text-align: center;
}
.f_text_container{
    display: inline-block;
    height: fit-content;

}
.f_ods{
    width: 30%;
    height: 100%;
    display: grid;


}
.f_ods h3{
    display: inline-block;
    margin: 20px auto 0;
    text-align: center   
}
.ods_img{
    margin: 0 auto;
}
.ods_img img{
    height: 90px;
}
.f_copy{
    width: 30%;

    height: 100%;
    display: grid;
}
.f_copy h3{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.f_copy p{
    display: inline-block;
}

@media screen and (max-width: 500px){
    .botones{
        font-size: 11px;
    }
    header .izda h1{
        font-size: 15px;
    }
    header .izda img{
        width: 40px;
        margin: 0px 0 0 -25px;
    }
}

@media screen and (max-width: 580px){
    .f_text{
        font-size: 10px;
    }
    .f_text a{
        font-size: 10px;
        display: block;
    }
    .f_ods{
        font-size: 10px;

    }
    .f_copy{
        font-size: 10px;
    }
    .ods_img img{
        height: 60px!important;
        display: block;
        margin-top: 3px;
    }
    
  }


@media screen and (max-width: 960px) {
    .targeta{
        margin: 100px auto 0;
        width: 80%;
        display: flex;
        height: fit-content;
    
    }
    .t_img{
        display: inline-block;
        width: 30%;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        margin: 0;
        padding: 0;
    
    }
    
    .t_text{
        margin: 0;
        width: 70%;
        height: 200px;
        overflow: hidden;
        padding: 0 10px;
        text-align: center;
        background-color: #fff8;
        backdrop-filter: blur(4px);
    
    }
    .t_text h1{
        font-size: 20px;
        margin-top: 10px;
    }
    .t_text h3{
        margin-top: -20px;
        text-align: left;
        font-size: 1.7vw;
    }
    .ods_img img{
        height: 70px;
    }
}
@media screen and (max-width: 525px) {
    .targeta{
        margin: 100px auto 0;
        width: 80%;
        display: flex;
        height: fit-content;
    
    }
    .t_img{
        display: inline-block;
        width: 30%;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        margin: 0;
        padding: 0;
    
    }
    
    .t_text{
        margin: 0;
        width: 70%;
        height: 150px;
        overflow: hidden;
        padding: 0;
        text-align: center;
        background-color: #fff8;
        backdrop-filter: blur(4px);
    
    }
    .t_text h1{
        font-size: 15px;
    }
    .t_text h3{
        padding: 0px 15px 0px;
        text-align: left;
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 750px){

    .ods_img img{
        height: 50px;
    }
    .f_copy p{
        font-size: 11px;
    }
}
@media screen and (max-width: 350px){
    .t_text h3{
        font-size: 2vw;
    }


}




